@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #ff523b;
  padding: 0 10px;
}
.wrapper {
  max-width: 600px;
  width: 100%;
  background: #fff;
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
  padding: 30px;
}

.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ff523b;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .custom_select select:focus {
  border: 1px solid #ff523b;
}

.wrapper .form .inputfield p {
  font-size: 14px;
  color: #757575;
}

.wrapper .form .inputfield .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background: #ff523b;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  transition: background 0.5s;
}

.wrapper .form .inputfield .btn:hover {
  background: lightcoral;
}

.wrapper .form .inputfield:last-child {
  margin-bottom: 0;
}

@media (max-width: 420px) {
  .wrapper .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label {
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms {
    flex-direction: row;
  }

  #custom-button {
    position: relative;
    left: -16px;
    font-size: 0.7rem;
    height: 25px;
    width: 100px !important;
    margin-bottom: 5px;
    margin: none !important;
  }

  #custom-button:hover {
    background: ightcoral;
  }

  #custom-text {
    font-size: 0.7rem;
    font-family: "Montserrat", sans-serif;
  }
}

/*---- Custom file upload ----*/

#custom-button {
  color: white;
  background-color: #ff523b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  right: 27px;
  width: 150px;
  padding: 5px;
  margin: 20px;
  transition: background 0.5s;
}

#custom-button:hover {
  background: lightcoral;
}

#custom-text {
  margin-left: 2px;
  font-family: "Montserrat", sans-serif;
  color: #aaa;
  font-size: 0.8rem;
}

/*---- Custom file upload ----*/

/* Below code is to remove arrows from input field of type number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* remove arrow ends here */
