{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style2.css'%}">
    <title>Evaluation | Sharda University</title>
</head>
<body>
    {% if user.is_authenticated %}
    
    <div class="logo">
        <img src="{% static 'images/logo.jpg'%}" alt="logo">
    </div>
    <div class="wrapper">
        <div class="title">
            Project Evaluation
        </div>
        <div class="eval">
            <a href="http://127.0.0.1:8000/registration/register"><div class="project-select">Evaluation-0</div></a>
            <a href="http://127.0.0.1:8000/registration/registers"><div class="project-select">Evaluation-I</div></a>
            <a href="http://127.0.0.1:8000/registration/registerss"><div class="project-select">Evaluation-II</div></a>
            <a href="http://127.0.0.1:8000/registration/totals"><div class="project-select">Total</div></a>
            <a href="logout"><div class="project-select">Logout</div></a>
        </div>
        
    </div>
    {% else %}
    <h1>Please Login as Admin</h1>
    {% endif %}
</body>
</html>